@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
h3 {
    color: #999;
}

.side-menu {
    position: fixed;
    background: #3761af;
    bottom: 0;
    width: 20vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.side-menu li {
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;

    
}

.side-item-text{
    font-size: large;
    border: none;
    background: none;
}
.side-menu li:hover {
    background: white;
    color: #f05462;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
    background:#3761af;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.search .search-icon {
    border-left: 1px solid grey;
    margin: 2px;
    padding-left: 10px;
    cursor:pointer;
    color: grey;
}

.search .search-icon:hover {
    
    color: black;
}
.header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}
.header .nav .search input[type=text] {
    border: none;
    border-radius: 8px 0 0 8px;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}
.search form{
	flex: 3;
    display: flex;
    justify-content: center;
}
.header .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav.brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group {
    display:flex;
    align-items: center;
    font-size: 0.9em;
    color: whitesmoke;
}
  
  
.group .sub{
    font-size: 0.8em;
}
  
  
.material-icons {
    font-size:1.8rem;
}



@media screen and (max-width: 1050px) {
    .side-item-text{
        font-size: 14px;
    }
}
@media screen and (max-width: 950px) {
    .brand-name h3 {
        font-size: 12px;
    }
    .side-menu li .side-item-text {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li span {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        padding: 8px 38px;
        border: 2px solid white;
    }
}
@media screen and (max-width:560px) {
    .brand-name h3 {
        font-size: 12px;
        span{
            display: none;
        }
    }

    .side-menu li span {
        width: 30px;
        height: 30px;
    }
}