@charset "ISO-8859-1";
.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background:whitesmoke;
}

a{
	text-decoration: none;
	color:white;
}

.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}
.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container .content .cards .card {
    width: 35vh;
    height: 50vh;
    background: white;
    margin: 20px 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card .box{
    margin-top: 10px;
}

.cards .card img{
    max-width: 170px;
    max-height: 230px;


}

.control-btn{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

    button{
        max-width:100px;
        border: 1px;
        border-radius: 6px;
        color: antiquewhite;
        background-color: #aa0b18;
        padding: 10px 20px;
    }

    button:hover {
        color: #aa0b18;
        background: white;
        border: 2px solid #aa0b18;
    }
}

