@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root {
--theme-bg-color: #3761af;
--theme-color: white;
--accent-color: #fff;
--gradient-color: #FBFBFB;

}
* { 
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.sidepanel{
	z-index: 100;
	margin-top: 22px;
	
}
.sidebar{
  position: fixed;
  margin-top:0;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: #3761af;
  transition: all .5s ease;
}
.sidebar header{
  font-size: 28px;
  color: #fff;
  background-color: #3761af;
  line-height: 70px;
  text-align: center;
  user-select: none;
  font-family: 'Lato', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: rgba(0, 41, 41, 1);
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Lato', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px;
  color: black;
   
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #cancel{
  position: fixed;
  
}
label #btn{
  position: absolute;
}
label #btn,label #cancel{
  left: 5px;
  top: 5px;
  cursor: pointer;
  color: black;
  border-radius: 5px;
  margin: 0px 1px;
  font-size: 29px;
  background-color:#3761af ;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   3.5px 3.5px 20px 0px rgba(0,0,0,.1),
   2px 2px 5px 0px rgba(0,0,0,.1);
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
  
}
#check:checked ~ label #btn{
  margin-top: 0;
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-top: 0;
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
.navbar {
padding-left: 60px;
  display: flex;
  box-shadow: 0 0 2px 0 grey;
  align-items: center;
  font-size: 1em;
  position: relative;
  background-color:#3761af;
  background-color: var(--theme-bg-color);
  width: 100%;
  height:10vh;
  color: white;
  color: var(--theme-color);
  }

.item{
  padding: 10px;
  text-decoration: none;
  color: white;
  color: var(--theme-color);

}

.item.right {
  margin: 0 0 0 auto;
}

.navbar .logo {
  font-size: 1.2em;
  align-items: center;
  display: flex;
}

.logo img {
  max-width: 40px;
}
.search{
    flex: 3;
    display: flex;
    justify-content: center;
}
.search form{
	flex: 3;
    display: flex;
    justify-content: center;
    height:40px;
    align-items: center;
}
form .item{
	max-height: 10vh;
}
.search input[type=text] {
    border: none;
    border-radius: 8px 0 0 8px;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
    
}
.search button {
    width: 45px;
    height: 40px;
    border: none;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item.search .search-icon {
  border-left: 1px solid grey;
  margin: 2px;
  padding-left: 10px;
  cursor:pointer;
  color: grey;
}
.item.search .search-icon:hover {
  
  color: black;
}

.item .group {
  display:flex;
  align-items: center;
  font-size: 0.9em;
}


.item .group .sub{
  font-size: 0.8em;
}


.material-icons {
  font-size:1.8rem;
}


.menu-icon{
  display:none;
}


@media (max-width: 700px) {
  .item.search input {
    display: block;
  }
  .menu-icon {
    display:block;
  }
  .detail,.logo .text {
    display:none;
  }
  .search-group{
    display: none;
}


}


